.scheduleList {
    width: 80%;
    padding: 40px 0 20px 0;
}
.headerContainer{
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headerContainer div{
    padding-left: 5px;
    width: 25%;
}

.trainSchedule{
    display: flex;
    padding: 5px 0 5px 0;
    background-color: #f0f0f0;
    height: 30px;
}

.trainSchedule div {
    width: 25%;
    padding-left: 5px;
}

.trainSchedule:nth-child(odd) {
    background-color: white;
}
.trainSchedule:nth-child(even) {
    background-color: #f0f0f0;
}